.footer {

  float: left;
  width: 1368px ;
  height: 400px ;
  background-color: $darkcyan ;
}

.contact-footer {

  float: left;
  padding-top: 60px ;
  width: 588px ;

  p {

    color: $beige ;
    font-size: 1rem;
    margin-left: 108px ;
    width: 200px ;
  }
}

.images-socialmedia {

  padding-top: 29px ;
  margin-left: 108px ;
  float: left;

  a img {

    height: 42px ;
  }

  a + a {

    margin-left: 20px ;
  }
}

.form-footer {

  float: left;
  padding-top: 60px ;
  padding-left: 350px ;

  p {

    color: $beige ;
    font-size: 1rem;
  }
}

.form {

  float: left;
  width: 310px ;
  position: absolute;

  p {

    font-size: 18px ;
  }

  input {

    border: 1px solid $cyan ;
    border-radius: 18px ;
    color: rgb(161, 161, 161);
    float: left;
    font-size: 1rem;
    height: 30px;
    text-indent: 20px ;
    margin-bottom: 20px ;
    width: 310px ;
  }
}

.button-form {

  color: white;
  border-radius: 24px ;
  border-style: none;
  background-color: $darkblue ;
  position: relative;
  font-size: 0,875rem ;
  font-weight: bold;
  padding: 12px 40px;
  margin-top: 10px;
}

.button-form:hover{

  background-color: rgb(0, 0, 0);
}
