// Global styles

.wrapper {
  margin: 0 auto ;
  width: 1368px ;
}

html{

  background-color: $darkblue ;
  margin: 0 ;
}

body {

  font-family: $raleway ;
}

ul {

  margin: 0 ;
  padding: 0;
}

li {

  list-style: none ;
}
