.wrapper-githubRepos {

  margin-top: 70px ;
  margin-bottom: 70px ;
}

.wrapper-githubRepos h2{

  color: $beige ;
  font-family: $raleway ;
  font-family: 2.5rem ;
  margin-left: 98px ;
}

.wrapper-githubRepos li{

  color: $beige ;
  font-family: $raleway ;
  font-size: 1rem ;
  margin-left: 98px ;
}

.wrapper-githubRepos hr{

  border: 0.2px solid $cyan ;
  width: 1168px;
}
